<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Mini MessageBorad</h1>
        <a href="/new">New Message</a>
        <ul>
        <% messages.forEach(function(message, index) { %>
            <li>
            <a href="/message/<%= index %>">
                <strong><%= message.username %></strong><br>
                <%= message.text_message %><br>
                <small>Added on: <%= message.date_added %></small>
            </a>
                <form action="/message/<%= message.id %>/delete" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
        </ul>

    </body>
</html>
